html {
    background-color: yellowgreen;

}

body {
    
    margin: 0;
    display: flex;
    font-size: 25px;
    background-color: #fff;
    border-radius: 5px;
    line-height: 25px;
    border: 5px;

    @media (min-width: 767px) {
        margin: 10px;
    }
}


.fine {
    font-size: 25px;

    @media (min-width: 767px) {
        font-size: 15px;;
    }
}

